*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: lightgreen;
}

.header {
    min-height: 70vh;
    width: 100%;
    background-image: url(images/headerBg.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
}


nav{
  max-height: 80px;
  display: flex;
  padding: 2%  6%;
  justify-content: space-between;
  align-items: center;
  background: rgba(69, 187, 30, 0.8);
  position: relative;
}



/* scrollbar */

.scroll {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}



.progress-container {
  width: 100%;
  height: 8px;
  background: rgb(69, 187, 30);
}

.progress-bar {
  height: 8px;
  background: #f08809;
  width: 0%;
}

nav img {
  width: 200px;
  max-height: 100%;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 23px;
}


.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.text-box h1{
  font-size: 88px;
  color: #fff;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 34px;
  color: #fff;
}


.dl-button{
  display: inline-block;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 12px 34px;
  font-size: 23px;
  background: transparent;
  position: relative;
  cursor: pointer;
  color: #fff;
}

.dl-button:hover{
  border: 3px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa{
  display: none;
}

@media(max-width: 700px){
  
  
  .text-box {
    top: 40%; 
  }
  .text-box h1{
    font-size: 44px;
  }

  .text-box p{
    font-size: 20px;
  }

  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #f44336;
    height: 30vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    display: none;
  }

  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul{
    padding: 30px;
  }
}



/* Les Fonctionnalités */

.imgF{
  max-width: 100%;
  height: 500px;
  width: 500px;
  border-radius: 15px;
}

.features{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
  color: rgb(28, 27, 27);
}

p{
color: rgb(28, 27, 27);
font-size: 14px;
font-weight: 300;
line-height: 22px;
padding: 10px;
}

.rowF{
  margin-top: 5%;  
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.feature-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom:  5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.feature-col {
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-align: center;
}

.feature-col img {
  max-width: 60%; 
  margin-right: 20px; 
}

.feature-col h3,
.feature-col p {
  flex: 1; 
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.feature-col:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
  .row {
    flex-direction: column;
  }

  .feature-col {
    display: block;
  }

  .feature-col img {
    max-width: 100%;
    margin: 0 auto; /* Centrer l'image horizontalement */
    display: block; 
    margin-bottom: 20px;
  }

  iframe {
    max-width: 100%;
    margin: 0 auto; /* Centrer l'image horizontalement */
    display: block; 
    margin-bottom: 20px;
  }

  .feature-col h3,
  .feature-col p {
    text-align: center;
    margin: 10px; 
  }
}





/* Témoignages */

.testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col{
  flex-basis: 44%;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 5%;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p{
  padding: 0;
}

.testimonial-col h3{
  margin-top: 15px;
  text-align: left;
}

.testimonial-col .fa{
  color: #f44336;
}

@media(max-width: 700px){
  .testimonial-col img{
    margin-left: 0px;
    margin-right: 15px;
  }
}


/* Call To Action */

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: url(./images/photoCta.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: solid 2px #f44336;
  text-align: center;
  padding: 100px 0px;
}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media(max-width: 700px){
  .cta h1{
    font-size: 24px;
  }
}



/* Formulaire de contact */

.container {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #db8917;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #ee620b;
}



/* footer */


.footer{
  background: rgb(69, 187, 30);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer h4{

  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px;
  
}

.fa-heart{
  color: #f44336;
}


/* Meteo widget */

/* imgMeteo{
  width: 80px;
  height: 100px;
  border-radius: 50%;
} */

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#0cd120, #eb9e06);
  color: #fff;
  margin: 10px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}


.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* .search button img{
  width: 36px;
} */

#loupe {
  width: 45px; /* Modifiez la taille selon vos besoins */
  height: 45px; /* Vous pouvez également définir une hauteur */
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}

.weather h1{
  font-size: 80px;
  font-weight: 500;
}

.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 70px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}


.weather {
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px; 
  font-size: 13px;
  margin-top: 10px;
  display: none;
}

@media (max-width: 700px) {
  .card {
    width: 90%; /* Réduisez la largeur de 90% pour s'adapter à l'écran */
    padding: 20px; /* Réduisez l'espacement intérieur */
    max-width: 100%; /* Pour s'adapter à la largeur de l'écran */
  }

  .search {
    flex-direction: column; /* Afficher les éléments de recherche en colonne */
  }

  .search input {
    width: 80%; /* Remplissez toute la largeur disponible */
    margin-right: 0; /* Supprimez la marge à droite */
    margin-bottom: 10px; /* Ajoutez un espacement entre le champ de recherche et le bouton */
  }

  .search button {
    width: 90px; /* Ajustez la largeur du bouton */
  }

  .weather-icon {
    width: 120px; /* Ajustez la taille de l'icône météo */
    margin-top: 20px;
  }

  .weather h1 {
    font-size: 45px; /* Réduisez la taille du titre de température */
  }

  .weather h2 {
    font-size: 30px; /* Réduisez la taille du sous-titre */
    margin-top: -5px;
  }

  .details {
    flex-direction: column; /* Affichez les détails en colonne */
    margin-top: 20px;
  }

  .col {
    text-align: center; /* Centrez le texte des colonnes */
  }

  .col img {
    width: 50px; /* Ajustez la taille des icônes */
    margin-right: 0; /* Supprimez la marge à droite */
  }

  .humidity, .wind {
    font-size: 20px; /* Réduisez la taille de la humidité et de la vitesse du vent */
    margin-top: -6px;
  }
}